@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-brand-slate bg-brand-light font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold text-brand-navy;
  }
}
